@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, DNTBreadCrumb.Core
@using Microsoft.AspNetCore.Http
@using DynamicForecast.Clases


<!-- START Sidebar(left)-->
<div class="aside-inner">
    <nav class="sidebar" data-sidebar-anyclick-close="">
        <!-- START sidebar nav-->
        <ul class="sidebar-nav">

            <!-- Iterates over all sidebar items-->
            <li class="nav-heading">
                <span>Men&uacute; Principal</span>
            </li>
            <li class="active">
                <a asp-controller="Dashboard" asp-action="Dashboard" title="Dashboard">
                    <em class="icon-speedometer"></em>
                    <span data-localize="sidebar.nav.DASHBOARD">Dashboard</span>
                </a>
            </li>
            <li>
                <a asp-controller="Conductor" asp-area="Conductor" asp-action="Index" title="Conductor">
                    <em class="icon-user"></em>
                    <span data-localize="sidebar.nav.CONDUCTOR">Conductores</span>
                </a>
            </li>
            <li>
                <a asp-controller="Vehiculo" asp-area="Vehiculo" asp-action="Index">
                    <em class="fa fa-truck-moving"></em>
                    <span data-localize="sidebar.nav.VEHICULO">Veh&iacute;culos</span>
                </a>
            </li>
            @*<li>
                <a title="Modelo">
                    <em class="icon-star"></em>
                    <span data-localize="sidebar.nav.MODELO">Modelos de <br />Recomendaci&oacute;n </span>
                </a>
            </li>*@
            <li>
                <a title="Viajes" asp-controller="Viaje" asp-area="Viaje" asp-action="Index">

                    <em class="icon-map"></em>
                    <span data-localize="sidebar.nav.VIAJE">Viajes</span>
                </a>
            </li>
            <li>
                <a asp-controller="Certificado" asp-area="Certificado" asp-action="Index" title="Certificados">
                    <em class="icon-folder-alt"></em>
                    <span data-localize="sidebar.nav.CERTIFICADO">Certificados</span>
                </a>
            </li>
            <li>
                <a asp-controller="Usuario" asp-action="Index" title="Usuarios">
                    <em class="icon-user-following"></em>

                    <span data-localize="sidebar.nav.USUARIO">Usuarios</span>
                </a>
            </li>
            <li>
                <a asp-controller="Tercero" asp-action="Index" title="Terceros">
                    <em class="icon-people"></em>

                    <span data-localize="sidebar.nav.TERCERO">Terceros</span>
                </a>
            </li>

        </ul>
        <!-- END sidebar nav-->
    </nav>
</div>
<!-- END Sidebar (left)-->
