@model DynamicForecast.Areas.Certificado.Models.DT_Certificado
<div class="row">
    <div class="col-md-12">
        <form asp-action="CrearCertificado" method="post" enctype="multipart/form-data">

            @{if (ViewBag.Error != "")
                {
                    <div class="text-center text-danger">
                        @ViewBag.Error
                        <hr />
                    </div>
                }
            }
            <div class="text-bold text-center h4">Datos para la Creación del Certificado</div>
            <br />
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="control-label">Código del Certificado</label>
                    <input asp-for="CodCertificado" class="form-control form-control-sm" required />
                    <span asp-validation-for="CodCertificado" class="text-danger"></span>
                </div>

                <div class="form-group col-md-6">
                    <label class="control-label">Nombre</label>
                    <input asp-for="NombreCertificado" class="form-control form-control-sm" required />
                    <span asp-validation-for="NombreCertificado" class="text-danger"></span>
                </div>

            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="control-label">Descripción</label>
                    <input asp-for="DescripcionCertificado" class="form-control form-control-sm" required />
                    <span asp-validation-for="DescripcionCertificado" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label">Tipo de Certificado</label>
                    <select id="selecCertificados" asp-for="TipoCertificado" class="form-control form-control-sm">
                        <option selected disabled value="">Seleccione el Tipo de Certificado</option>
                        <option value="COD-CERT1">Certificado para Vehículo</option>
                        <option value="COD-CERT2">Certificado para Conductor</option>
                    </select>

                </div>

            </div>

            <hr />
            <div class="form-group text-right">
                <button type="submit" class="btn btn-primary"><t id="txtBtnCrear">Crear Certificado</t></button>
            </div>
        </form>
    </div>
</div>