@model DynamicForecast.Areas.Conductor.Models.DT_Conductor
<div class="row">
    <div class="col-md-12">
        <form asp-action="CrearConductor" method="post" enctype="multipart/form-data">

            @{if (ViewBag.Error != "")
                {
                    <div class="text-center text-danger">
                        @ViewBag.Error
                        <hr />
                    </div>
                }
            }
            <div class="text-bold text-center h4">Datos para la Creación del Conductor</div>
            <br />
            <div class="form-row">
                <div class="form-group col-md-8">
                    <label class="control-label">Nombre</label>
                    <input asp-for="NombreConductor" class="form-control form-control-sm" required />
                    <span asp-validation-for="NombreConductor" class="text-danger"></span>
                </div>

                <div class="form-group col-md-4">
                    <label class="control-label">Documento</label>
                    <input asp-for="Documento" class="form-control form-control-sm" required />
                    <span asp-validation-for="Documento" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-8">
                    <label class="control-label">E-Mail</label>
                    <input asp-for="EMail" type="email" class="form-control form-control-sm" required />
                    <span asp-validation-for="EMail" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label">Código</label>
                    <input asp-for="CodConductor" class="form-control form-control-sm" required />
                    <span asp-validation-for="CodConductor" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label class="control-label">Direccion</label>
                    <input asp-for="Direccion" class="form-control form-control-sm" required />
                    <span asp-validation-for="Direccion" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label">Telefono</label>
                    <input asp-for="Telefono" class="form-control form-control-sm" required />
                    <span asp-validation-for="Telefono" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label">Celular</label>
                    <input asp-for="Celular" class="form-control form-control-sm" required />
                    <span asp-validation-for="Celular" class="text-danger"></span>
                </div>
            </div>
            <hr />
            <div class="form-group text-right">
                <button type="submit" class="btn btn-primary"><t id="txtBtnCrear">Crear Conductor</t></button>
            </div>
        </form>
    </div>
</div>