<div class="Container">

    <div class="text-center">
        <h2> <strong> Se ha presentado un error </strong> </h2>
    </div>

    <br />
    <br />
    <div class="text-center">
        <img src="~/images/Error.jpg" class="img-fluid"/>
        <br />
        <h4> Por favor comunicarse con myProcess a soporte técnico teléfonos : 3197053078 y 3012304577</h4>
    </div>
</div>