@model DynamicForecast.Models.DT_Usuario
<div class="row">
    <div class="col-md-12">
        <form asp-action="CrearUsuario" method="post" enctype="multipart/form-data">

            @{
                if (ViewBag.Error != "")
                {
                    <div class="text-center text-danger">
                        @ViewBag.Error
                        <hr />
                    </div>
                }
            }
            <div class="text-bold text-center h4">Datos para la Creación del Usuario</div>
            <br />
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label class="control-label">Nombre</label>
                    <input asp-for="NombreUsr" class="form-control form-control-sm" required />
                    <span asp-validation-for="NombreUsr" class="text-danger"></span>
                </div>

                <div class="form-group col-md-4">
                    <label class="control-label">Nit</label>
                    <input asp-for="NumeroNit" class="form-control form-control-sm" required />

                    <span asp-validation-for="NumeroNit" class="text-danger"></span>
                </div>

                <div class="form-group col-md-4">
                    <label class="control-label">E-Mail</label>
                    <input asp-for="E_Mail" class="form-control form-control-sm " type="email" required />

                    <span asp-validation-for="E_Mail" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">

                <div class="form-group col-md-4">
                    <label class="control-label">Direccion</label>
                    <input asp-for="CodigoUsr" class="form-control form-control-sm" required />

                    <span asp-validation-for="CodigoUsr" class="text-danger"></span>
                </div>


                <div class="form-group col-md-4">
                    <label class="control-label">Contraseña</label>
                    <input asp-for="PalabraClave" class="form-control form-control-sm" type="password" required />

                    <span asp-validation-for="PalabraClave" class="text-danger"></span>
                </div>

                <div class="form-group col-md-4">
                    <label class="control-label">Confirme Contraseña</label>
                    <input asp-for="PalabraClaveActual" class="form-control form-control-sm" type="password" required />

                    <span asp-validation-for="PalabraClaveActual" class="text-danger"></span>
                </div>

            </div>

            <hr />
            <div class="form-group text-right">
                <button type="submit" class="btn btn-primary"><t id="txtBtnCrear">Crear Usuario</t></button>
            </div>
        </form>
    </div>
</div>
<script>

</script>